<!-- <% randomImages = images %>
<% breed =  breeds%>
<% dogFact = "Dog Facts here" %>

<h1><%= dogFact %></h1>
<div class="carousel-container">
  <div class="carousel-viewport">
    <% images.forEach(function(imageUrl, index) { %>
      <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
        <img src="<%= imageUrl %>" alt="Carousel Image <%= index + 1 %>">
      </div>
    <% }); %>
  </div>
  <div class="carousel-nav">
    <button class="prev-btn disabled">&lt;</button>
    <button class="next-btn">&gt;</button>
  </div>
</div>

<h1>Admin breeds</h1>

<% breed.forEach(function(breedItem, index) { %>
  <%- include('./partials/breedCard', {breedItem: breedItem}) %>
<% }); %> -->

<!-- Carousel -->
<ul class="slides">
  <% images.forEach(image => { %>
    <div class="slide"><img src="<%= image %>" class="gallery-img" alt="Dog Image"></div>
  <% }); %>
</ul>

<!-- Breed Information -->
<div class="breed-info">
  <% breeds.forEach(breed => { %>
      <div class="breed">
          <h2><%= breed.name %></h2>
          <div class="breed-content">
            <% if (breed.imageUrls.length > 0) { %>
              <% const randomIndex = Math.floor(Math.random() * breed.imageUrls.length); %>
              <img src="<%= breed.imageUrls[randomIndex] %>" alt="<%= breed.name %>">
            <% } %>
            <p><%= breed.descriptions %></p>
          </div>
          
      </div>
  <% }); %>
</div>