<!-- Carousel -->
<ul class="slides">
  <% images.forEach(image => { %>
    <div class="slide"><img src="<%= image %>" class="gallery-img" alt="Dog Image"></div>
  <% }); %>
</ul>
<form action="/breeds/updateCarousel" method="post">
  <button type="submit">Update Carousel</button>
</form>


<!-- Breed Information -->
<div class="breed-info">
  <% breeds.forEach(breed => { %>
      <div class="breed">
          <h2><%= breed.name %></h2>
          <div class="breed-content">
            <% if (breed.imageUrls.length > 0) { %>
              <% const randomIndex = Math.floor(Math.random() * breed.imageUrls.length); %>
              <img src="<%= breed.imageUrls[randomIndex] %>" alt="<%= breed.name %>">
            <% } %>
            <p><%= breed.descriptions %></p>
          </div>
          
      </div>
  <% }); %>
</div>